{% extends "foodlist/base.html" %}
{% block content %}

<div class='row mt-5 d-flex justify-content-center'>
    <div class='col-6'>
        <form method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <label for='food_item_name' class='font-weight-bold'>Food Item Name:</label>
                <input required placeholder="Enter the Food Item's Name" type='text' class='form-control' name ='food_item_name' id='food_item_name'>
            </div>
            <div class='form-group'>
                <label for='sell_at' class='font-weight-bold'>Sell At:</label>
                <input placeholder="Enter the Sell At Price" type='number' min='0.00' step='0.01' class='form-control' name='sell_at' id='sell_at'>
            </div>
            <div class='form-group'>
                <label id='cost' for='cost' class='font-weight-bold'>Cost: </label>
                <input hidden placeholder="Enter the Representative's Name" type='number' class='form-control' name='rep_name' id='rep_name'>
            </div>
            <div class='form-group'>
                <label id='upc' for='upc' class='font-weight-bold'>UPC: </label>
                <input hidden placeholder="Enter the Representative's Name" type='number' class='form-control' name='rep_name' id='rep_name'>
            </div>
            <button type="submit" class="btn btn-success">Create Food Item</button>
            <a class="btn btn-warning" href="{% url 'foodlist-home' %}">Cancel</a>
        </form>
    </div>
</div>


{% endblock %}