{% extends "foodlist/base.html" %}
{% block content %}
<div class='container=fluid'>
    <div class='row mt-4'>
        <div class='col-2'>
            <a class='btn btn-success ml-4' href="{% url 'foodlist-create' %}">Add Food Item</a>
        </div>
        <div class='col-8 d-flex justify-content-center'>
            <h1 class='h1 mb-5'>Food Items</h1>
        </div>
    </div>

    {% if messages %}
    <div class='row d-flex justify-content-center'>
        <div class='col-6' >
            <ul class='alert-success'>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% for food in foods %}
    <div class='row d-flex justify-content-center'>
        <div class='col-6 bg bg-light border'>
            <div class='row'>
                <div class='col-12 d-flex justify-content-center mb-3 mt-3'>
                    <h2>{{ food.food_item_name }}</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-12 d-flex'>
                    <label class='col-4 text-center'>Sell At: ${{ food.sell_at }}</label>
                    <label class='col-4 text-center'>Cost: ${{ food.cost }} </label>
                    <label class='col-4 text-center'>UPC: {{ food.upc }} </label>
                </div>   
            </div>
            <!-- <div class='row'>
                <div class='col-12 justify-content-center d-flex'>
                    <label class='col-4 mt-4 font-weight-bold text-center '>Ingredients:</label>
                </div>   
            </div> -->
            <div class='row '>
                <div class="col-12 text-center">
                    <button class="btn mb-4" type="button" data-toggle="collapse" data-target="#{{food.food_item_name|truncatechars:3}}" aria-expanded="false" aria-controls="{{food.food_item_name|truncatechars:3}}">
                        Ingredients   <span>    </span><i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class='col-12 d-flex'>
                    <ul class='col-12 text-center list-group mb-4 collapse' id='{{food.food_item_name|truncatechars:3}}'>
                        {% for i in recipes %}
                            {% if food.id == i.food_item_id %}
                        <li class='list-group-item card card-body'>{{ i.ingredient_item.ingredient_name }} QTY: {{ i.serving_quantity }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>   
            </div>
            <div class='row'>
                <div class='col-12 d-flex mb-2 justify-content-center'>
                    <a class='btn btn-sm btn-warning mr-3' href="#">Edit Food Item</a>
                    <a class='btn btn-sm btn-danger' href="#">Delete Food Item</a>
                </div>   
            </div>
            
        </div>
        
    </div>
    {% endfor %}


</div>
    




{% endblock %}